body {
    margin: 0px;
    font-family: Arial;
}

@media screen and (max-width: 849px) {

    .content-right {
        padding: 10%;
        padding-top: 0%;
    }
    .content-left {
        padding: 10%;
        padding-top: 0%;
    }
}

@media screen and (min-width: 850px) {

    .main-content {
        display: grid;
        grid-template-columns: minmax(65%, 35%) minmax(300px, 1fr);
        grid-template-rows: 1fr;
        grid-template-areas: "leftArea rightArea";
        grid-column-gap: 3%;
    }

    .sub-content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: "item1 item2 item3" 
                             ". item5 ." 
                             "item7 item8 item9";
        padding: 80px;
    }


    .sub-content-2 {
        padding: 200px;
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .content-right {
        grid-area: rightArea;
        padding-right: 70px;
    }

    .content-left {
        grid-area: leftArea;
        padding-left: 70px;
    }

    .form-section {
        background-color: #E1EAF1;
        padding: 80px;
    }

    .ordered-list {
        display:flex;
        justify-content: space-evenly;
    }

}

.item-img-bg {
    background-color: #E1EAF1;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50%;
    color: #E1EAF1;
}

.item-img-bg-2 {
    background-color: #E1EAF1;
    padding: 12px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 50%;
    color: #E1EAF1;
}

.light-gray-text {
    color: #CCC;
}

.gray-text {
    color: gray;
}
.black-text {
    color: black;
}

.ordered-list {
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.number-list {
    padding: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #E1EAF1;
    border: solid thin #E1EAF1;
    border-radius: 50%;
}
.numbered-item {
    margin-left: 40px;
    word-wrap: normal;
    align-self: center;
}
.header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: solid thin #EEE;
}

.logo-container{
    padding-left: 80px;
    font-family: Brush Script MT;
    font-size: 20px;
    line-height: 0px;
    
}

.logo{
    font-family: Brush Script MT;
    font-size: 30px;
    line-height: 0px;
    padding: 30px;
    padding-bottom: 10px;
    
}

.menu{
    align-self: center;
    padding-right: 80px;
}

.heading {
    text-align: center;
    padding: 50px;
}
.description-text {
    color: grey;
    font-weight: lighter;
}


.testimonial {
    display: flex;
    align-items: center;
}

.testimonial-text {
    padding-left: 10px;
}

.profile-pic {
    color: #E1EAF1;
}

.main-image {
 width: 100%;
}



.form-section {
    background-color: #E1EAF1;
    padding: 10%;
}
input[type=text], input[type=email] {
    width: 90%;
    height: 50px;
    border: solid thin #E1EAF1;
    padding-left: 10px;
}
select {
    width: 90%;
    height: 50px;
    border: solid thin #E1EAF1;
    padding-left: 10px;
}
button {
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}
.form-item {
    padding-top: 10px
}

.middle-break {
    padding: 60px;
    text-align: center;
    background-color: #E1EAF1;
}

#item-1 {
    grid-area: item1;
}
#item-2 {
    grid-area: item2;
}
#item-3 {
    grid-area: item3;
}
#item-4 {
    grid-area: item4;
}
#item-5 {
    grid-area: item5;
    display: flex;
    align-items: flex-end;
}
#item-6 {
    grid-area: item6;
}
#item-7 {
    grid-area: item7;
}
#item-8 {
    grid-area: item8;
}
#item-9 {
    grid-area: item9;
}

.sub-content-2 {
    text-align: center;
    border-top: solid thin #E1EAF1;
    border-bottom: solid thin #E1EAF1;
    padding: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.sub-content {
    padding: 30px;
}

.footer {
    text-align: center;
}

.small-btn {
    width: 200px;
}