body {
    margin: 0px;
    font-family: Arial;
}

.gray-text {
    color: gray;
}

.black-text {
    color: black;
}
.ordered-list {
    display:flex;
    justify-content: space-evenly;
}
.number-list {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #E1EAF1;
    border: solid thin #E1EAF1;
    border-radius: 50%;
}
.numbered-item {
    margin-left: 40px;
    word-wrap: normal;
    align-self: center;
}
.header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: solid thin #EEE;
}

.logo-container{
    padding-left: 80px;
    font-family: Brush Script MT;
    font-size: 20px;
    line-height: 0px;
    
}

.menu{
    align-self: center;
    padding-right: 80px;
}

.main-content {
    display: grid;
    grid-template-columns: 57% 40%;
    grid-template-rows: 1fr;
    grid-template-areas: "leftArea rightArea";
    grid-column-gap: 3%;
}

.heading {
    text-align: center;
    padding: 50px;
}
.description-text {
    color: grey;
    font-weight: lighter;
}

.content-left {
    grid-area: leftArea;
    padding-left: 70px;
}

.testimonial {
    display: flex;
    align-items: center;
}

.testimonial-text {
    padding-left: 10px;
}

.profile-pic {
    color: #E1EAF1;
}

.main-image {
 width: 100%;
}

.content-right {
    grid-area: rightArea;
    background-color: blue;
}

.cta {
    text-align: center;
}

.sub-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "item1 item2 item3" 
                         ". item5 ." 
                         "item7 item8 item9";
}

#item-1 {
    grid-area: item1;
}
#item-2 {
    grid-area: item2;
}
#item-3 {
    grid-area: item3;
}
#item-4 {
    grid-area: item4;
}
#item-5 {
    grid-area: item5;
    display: flex;
    align-items: flex-end;
}
#item-6 {
    grid-area: item6;
}
#item-7 {
    grid-area: item7;
}
#item-8 {
    grid-area: item8;
}
#item-9 {
    grid-area: item9;
}

.sub-content-2 {
    text-align: center;
    border-top: solid thin black;
    border-bottom: solid thin black;
}
.footer {
    text-align: center;
}